html, body, .map {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
}
.info h4 {
    margin: 0 0 5px;
    color: black;
}
.warning {
    width: 33%;
}

.warning h4 {
    color: red;
}

div.leaflet-esri-labels-pane {
    z-index: 200 !important;
}
